<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="index.js">

    </script>

  </head>
  <body ng-app="app">
    <div ng-controller="emp">
      Value of a is {{a}}
      but you can change it
      <input ng-model="a" /> <br>

      Value of b is {{b}}
      but you can change it
      <input ng-model="b" /> <br>
      <hr>
      Sum = {{sum}} <br>

      <button ng-click="getSum()">Sum</button>
    </div>
  </body>
</html>
